.audio-item{
  border: 1px solid grey;
  border-radius: 5px;
  padding: 12px;
}

.audio-image{
  width: 100%;
  height: 300px;
}

.audio-title{
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0px;
}

.audio-artist{
  color: #94a69b;
  font-size: 16px;
  margin-top: 5px;
}

.audio-element{
  width: 100%;
  height: 50px;
}

@media (max-width: 400px) {
    .audio-title{
      font-size: 16px;
    }
    .audio-artist{
      font-size: 13px;
    }
    .audio-image {
      width: 100%;
      height: 260px;
    }
    .audio-element {
      width: 100%;
      height: 40px;
    }
  }
